/* Load Inter from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Inter', sans-serif;
  font-size: 14.5px;
  font-weight: 300;
}

strong {
  font-family: 'Inter', sans-serif;
  font-size: 14.5px;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.papertitle {
  font-family: 'Inter', sans-serif;
  font-size: 14.5px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.award-color {
  color: #f05650; /* BMVC 2024 color */
  /* font-weight: bold; /* Make text bold */
}

span.highlight {
  background-color: #ffffd0;
}

li {
  margin-bottom: 0.5rem;  /* 원하는 값으로 조절 */
}